{% extends 'core/inicial.html' %}    

{% block title %}Restablecimiento completado{% endblock %}

{% load static %}

{% block content %}  

<style>
    body {background-color: rgb(196, 190, 146);  }
    /* Le doy formato desde aqui al formulario ya que no puedo desde la vista --> views.py */
    #id_username, #id_password1, #id_password2, #id_email {
       width: 60%; margin:10 auto;  height: 2em;  font-size: large; }
    .boton {background-color:  rgb(138, 24, 24);  width: 200px; color:white; 
        margin:0 auto; height: 2.5em; font-size: large;}
    .reset {margin:100px auto; width: 50%;}
    .signup { margin:100px auto; width: 40%; max-width: 325px; }
    .mail { width: 200px;}
    .email_form {margin:100px auto; width: 40%;}
    .errorlist {color:red}
    /* he cogido en tiempo de ejecución el nombre del texto para poder convertirlo de span a div y que saliera otra linea y se viese mejor */
    .helptext {display: block; margin:10px 0;}
    /* ESto lo hacemos aqui para quitar las etiquetas del formulario ya que es mucho más rápido.*/
    .texto {color:rgb(3, 57, 3); font-weight:800;}

    label {display: none;}
</style>
    <div class="reset" >

        <h2>Restablecimiento de contraseña completado.</h2>

            <p class="texto" >Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
            <!-- y desde aqui te manda al template de inicio de (login) -->

            <a href="{% url 'login' %}">Iniciar sesión</a>

    </div>

{% endblock %}      
