{% extends 'core/inicial.html' %} 

{% block title %}Nueva contraseña{% endblock %}

{% load static %}

{% block content %}  

<style>
    body {background-color: rgb(196, 190, 146);  }
    /* Le doy formato desde aqui al formulario ya que no puedo desde la vista --> views.py */
    #id_username, #id_password1, #id_password2, #id_email {
       width: 60%; margin:10 auto;  height: 2em;  font-size: large; }
    .boton {background-color:  rgb(138, 24, 24);  width: 200px; color:white; 
        margin:0 auto; height: 2.5em; font-size: large;}
    .reset {margin:100px auto; width: 50%;}
    .signup { margin:100px auto; width: 40%; max-width: 325px; }
    .mail { width: 200px;}
    .email_form {margin:100px auto; width: 40%;}
    .errorlist {color:red}
    /* he cogido en tiempo de ejecución el nombre del texto para poder convertirlo de span a div y que saliera otra linea y se viese mejor */
    .helptext {display: block; margin:10px 0;}
    /* ESto lo hacemos aqui para quitar las etiquetas del formulario ya que es mucho más rápido.*/
    .texto {color:rgb(3, 57, 3); font-weight:800;}

    label {display: none;}
</style>
    <div class="confirm" > 

        <h2>Escriba la nueva contraseña</h2>
        {% if validlink %}   <!-- pues era esto lo que me faltaba  -->
        <form action="" method="post"> {% csrf_token %}
           <p class="texto" >Por favor, introduzca su nueva contraseña dos veces para verificar que la ha escrito correctamente.</p>
         
           {{form.new_password1.errors}}
           <p><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Nueva contraseña"></p>
           {{form.new_password2.errors}} 
           <p><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirmar contraseña"></p>
         <!--    {{ form.as_p}}   (no funciona con esto)   esto ->   {{ form.new_password2}} tampoco puedes ponerlo, ni esto    {{ form.new_password1}}
    más que nada que no me funciona....  -->

            <p><input class="boton" type="submit" value="Cambiar contraseña"></p>
        </form>
        {% else %}
            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
    </div>
{% endblock %}      
