label {font-size: medium;}
p {margin-left: 20px;}
#id_price {width: 80px;}
.btn {background-color:  rgb(138, 24, 24);  width: 60%; color:white; 
    margin:0 auto 15px; height: 2.5em; font-size: large;}
option {font-size: medium; }
#id_categories, #id_name, #id_price, #id_estado, #id_platos {font-size: medium; 
    box-shadow: 5px 5px 5px rgb(138, 24, 24);}
.errorlist {font-size: medium; }

.rojo {color:rgb(138, 24, 24); font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.verde {color:rgb(12, 70, 21); font-size: 25px; margin: 7px;}

.naranja {color:rgb(255, 98, 0); font-size: 30px;}








